<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here map testing...</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="/static-assets/css/mapsjs-ui.css" />

  </head>
  <body>

    <div class="" style="width: 640px; height: 480px" id="mapContainer"></div>
    <!-- <div class="" style="width: 640px; height: 480px" id="panaroma"></div> -->
    <button id="button" style="padding: 15px"> Enable Drawing Mode </button>

    <script src="/static-assets/js/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static-assets/js/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static-assets/js/mapsjs-mapevents.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static-assets/js/mapsjs-pano.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static-assets/js/mapsjs-ui.js" charset="utf-8"></script>


    <script type="text/javascript" src="/src/client/js/here-map.js"></script>
    <script type="text/javascript" src="/resources/icons.js"></script>
    <!-- <script type="text/javascript" charset="utf-8" src="/src/client/js/panaroma.js"></script> -->
  </body>
</html>
